#game-area[data-game="scalareale"] {
  &[data-playing][data-playing-status="draw"]
    .card:is([data-position="deck"], [data-position="playing-area"])::after {
    display: block;
  }

  &[data-playing][data-playing-status="hand"]
    .card[data-position="hand"][data-player="self"]:not([data-undiscardable])::after {
    display: block;
  }

  --card-overlap-fraction: 0.5;
  div {
    /* WIDE LANDSCAPE: the hand/playing-area cards are centered around the
     * center of the screen; it's wide enough to have 7-wrapped playing area
     * (so at most 2 rows) and the vertical size of the cards can be increased) */
    --unit: min(
      calc(
        100dvw /
        (
          var(--card-width-raw) *
          ((1 - var(--card-overlap-fraction)) * 13 + 1) +
          var(--gap-raw) *
          2
        )
      ),
      calc(
        100dvh /
        (
          var(--card-height-raw) *
          4 +
          var(--gap-raw) *
          5 +
          var(--deck-shadow-max-width-raw) *
          1
        )
      )
    );

    --center-x: calc(50dvw - var(--card-width) / 2);

    /* PORTRAIT OR SQUARISH ASPECT RATIO: the cards are centered */
    @media (aspect-ratio < 1.5) {
      --unit: min(
        calc(
          100dvw /
          (
            var(--card-width-raw) *
            (var(--card-overlap-fraction) * 13 + 1) +
            var(--gap-raw) *
            2
          )
        ),
        calc(
          100dvh /
          (
            var(--card-height-raw) *
            4 +
            var(--gap-raw) *
            5 +
            var(--deck-shadow-max-width-raw) *
            1
          )
        )
      );

      --center-x: calc(50dvw - var(--card-width) / 2);
    }

    --card-starting-y: var(--center-y);
    --card-starting-x: var(--left);

    &.card {
      &[data-position="deck"] {
        top: calc(var(--center-y) - var(--deck-shadow-width) / 2);
        left: var(--left);
      }
      &[data-starting-position="deck"] {
        --card-starting-x: var(--left);
        --card-starting-y: calc(var(--center-y) - var(--deck-shadow-width) / 2);
      }

      &[data-position="playing-area"] {
        top: var(--center-y);
        left: calc(
          var(--left) +
          var(--card-width) +
          var(--deck-shadow-width) +
          var(--gap)
        );
        z-index: var(--card-field-position);

        /* hide selector for the bottom card in the playing area */
        &[data-field-size="2"][data-field-position="0"]:after {
          display: none;
        }
      }

      &[data-position="hand"] {
        left: calc(
          var(--center-x) +
          (var(--card-field-position) - (var(--card-field-size) - 1) / 2) *
          (var(--card-width) * (1 - var(--card-overlap-fraction)))
        );
        z-index: var(--card-field-position);
        &[data-player="opponent"] {
          top: var(--top);
        }
        &[data-player="self"] {
          top: var(--bottom);
        }
      }

      &[data-position="winner-cards"] {
        --field-size: 13;
        left: calc(
          var(--center-x) +
          (var(--card-field-position) - (var(--field-size) - 1) / 2) *
          (var(--card-width) * (1 - var(--card-overlap-fraction)))
        );
        z-index: var(--card-field-position);
        &[data-field-player="opponent"] {
          top: calc((var(--top) + var(--center-y)) / 2);
        }
        &[data-field-player="self"] {
          top: calc((var(--bottom) + var(--center-y)) / 2);
        }
      }
    }

    &.name-tag {
      left: var(--gap);
      &[data-player="opponent"] {
        top: calc(var(--gap) * 2 + var(--card-height) + var(--deck-shadow-width));
      }
      &[data-player="self"] {
        bottom: calc(var(--gap) * 2 + var(--card-height) + var(--deck-shadow-width));
      }
    }
  }
}

#results {
  #results-table {
    td.details {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      > div[data-detail-type] {
        font-weight: normal;
        font-size: 0.9em;
        line-height: 1.5em;
        color: var(--text-color-secondary);
        padding-left: 1em;
        border-left: 1px solid var(--background-secondary-highlight-strong);
        &.winner {
          color: var(--text-color);
        }
        &[data-detail-type="primiera"] > span {
          font-family: monospace;
        }
      }
    }
  }
}
